a{
    text-decoration: none;
}
#logoimg{
    height: 50px;
}
header{
    position: relative;
}
nav{
    height: 100px;
    padding-top:20px ;
    display: inline-block;
    display: flex;
    justify-content: end;
}
ul{
    margin-right: 40px;
}
li{
    color: white;
    display: inline-block;
    margin-right: 29px;
    position: relative;
}
#tick{
    height: 15px;
}
ul li ul.dropdown li{
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-top:5px ;
    padding-bottom: 5px;
    width: 280px;

}
ul li ul.dropdown{
    margin-left: auto;
    padding: 5px;
    position: absolute;
    z-index:999;
    display: none;
}
ul li a:hover{
    background: rgb(255, 255, 255);
}
ul li:hover ul.dropdown{
    
    display: block;

}
